{% extends "CoobixAdminBundle:Admin:list.html.twig" %}

{% block page_header_btns %}
{% endblock page_header_btns %}

{% block list_bulk_actions_form %}
{% endblock list_bulk_actions_form %}

{% block list_tit %}
    <strong>Listado de Logs</strong>
{% endblock list_tit %}

{% block list_table %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% set numCols = 3 %}
                    <th>
                        {# 
                        <input type="checkbox" id="checkAllbulkChecks" value="" >
                        #}
                    </th>

                    <th><a href="{{ list.getColFilterUrl('text') }}">Texto</a></th>
                    <th><a href="{{ list.getColFilterUrl('user') }}">Usuario</a></th>
                    <th><a href="{{ list.getColFilterUrl('createdAt') }}">Creado el</a></th>

                    {# Col-title #}

                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set num = list.getListMaxResults() * (list.getListPage() - 1) %}
                {% for e in entities %}
                    {% set num = num + 1 %}
                    {% set routeParams = { 'id': e.getId(), 'class': admin.getClassName()|lower } %}

                    <tr>
                        <td class="short-td">
                            {{ num }}.
                            {#
                            <input type="checkbox" name="bulkCheck" value="{{ e.getId() }}" > 
                            #}
                        </td>

                        <td style="width: 30%"><a href="{{ path('admin_show', routeParams) }}">{{ e.getText() }}</a></td>
                        <td style="width: 30%"><a href="{{ path('admin_show', routeParams) }}">{{ e.getUser() }}</a></td>
                        <td style="width: 30%"><a href="{{ path('admin_show', routeParams) }}">{{ e.getCreatedAt() | date("d/m/Y H:i:s") }}</a></td>
                            {# Col-value #}



                        <td class="short-td">
                            {#
                            <a href="{{ path('admin_edit', routeParams) }}" class="pencil-icon list-btn-icon"></a>                    
                            #}
                        </td>
                        <td class="short-td">
                            {#
                            {{ render(controller('CoobixAdminBundle:Admin:listDeleteForm',  routeParams )) }}     
                            #}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        {% set colspanNum = numCols + 3 %}
                        <td colspan="{{ colspanNum }}">No existen registros.</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock list_table %}