{% extends "CoobixAdminBundle:Admin:show.html.twig" %}

{% block action_buttons %}
    {% set routeParams = { 'class': admin.getClassName()|lower } %}
    <a href="{{ path('admin_list', routeParams) }}" class="btn btn-link btn-icon list-icon">Ir al listado</a>
{% endblock action_buttons %}

{% block panel_title %}
    <strong>Log: </strong>
    {{ entity.getId() }}
{% endblock panel_title %}

{% block show_fields %}


    <div class="row border-bottom padding-vert-10">
        <div class="col-md-2 ">Texto:</div>
        <div class="col-md-10 ">{{ entity.getText() }}</div> 
    </div>

    <div class="row border-bottom padding-vert-10">
        <div class="col-md-2 ">Usuario:</div>
        <div class="col-md-10 ">{{ entity.getUser() }}</div> 
    </div>

    <div class="row border-bottom padding-vert-10">
        <div class="col-md-2 ">Creado el:</div>
        <div class="col-md-10 ">{{ entity.getCreatedAt() | date("d/m/Y H:i:s") }}</div> 
    </div>


    {# show-field #}
{% endblock show_fields %}